@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Gamja+Flower&display=swap");

:root {
  --fuente_titulo: "Gamja Flower", cursive;
  --fuente_texto: "Gaegu", cursive;
  --color_fuente: rgb(255, 25, 255);
  --color_fuente_contraste: rgb(25, 201, 255);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* >>>>>>>>>>>>> ᓚᘏᗢ Header <<<<<<<<<<<<<<<< */

header, .titulo {
  font-family: var(--fuente_titulo);
  font-size: 3rem;
  color: var(--color_fuente);
  padding: 1rem;
  display: flex;
  justify-content: center;
}

/* >>>>>>>>>>>>> ᓚᘏᗢ Main <<<<<<<<<<<<<<<< */

main{
  display: flex;
  justify-content: center;
}
.contenedor{
  padding: 1rem;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
}

.subtitulo {
  font-family: var(--fuente_titulo);
  font-size: 2rem;
  color: var(--color_fuente);
  display: flex;
  justify-content: center;
}


/* >>>>>>>>>>>>> ᓚᘏᗢ Mascotita <<<<<<<<<<<<<<<< */

/* acá van las reacciones y la animación de la mascotita */
.mascotitaAnimada{
  position:relative;
  top: 100px;
  width: 30%;
  height:fit-content;
}

/* >>>>>>>>>>>>> ᓚᘏᗢ Juego de interacción <<<<<<<<<<<<<<<< */

section.jugar {
  width: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.botones {
  padding: 1rem;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.boton {
  font-family: var(--fuente_texto);
  color: var(--color_fuente);
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.849);
  padding: 0.5rem;
  margin: 1.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 25vh;
  border-style: none;
  box-shadow: 0px 0px 10px 0.25px var(--color_fuente_contraste);
}

.boton:active{
    transform: scale(1.15);
    box-shadow: 0px 0px 10px 1px var(--color_fuente_contraste);
}
.botonJugar{
  border-radius: 5px;
  height: 5rem;
}

.botones div:nth-child(2){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* >>>>>>>>>>>>> ᓚᘏᗢ Resultados del juego: historiales <<<<<<<<<<<<<<<< */

section.estado, section.mascotita, section.botones {
  font-family: var(--fuente_texto);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  color: var(--color_fuente_contraste);
  width: 30%;
  padding: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
}

