@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Press+Start+2P&display=swap");
:root {
  --font-family1: "Press Start 2P", cursive;
  --font-family2: "Open Sans", sans-serif;
  --bg-color1: rgb(255, 185, 220);
  --bg-color2: rgb(194, 177, 255);
  --font-color1: rgb(255, 102, 179);
  --font-color2: rgb(119, 173, 255);
  --font-color3: rgb(162, 0, 255);
}

body {
  font-family: var(--font-family2);
  font-size: 1rem;
}

h1 {
  font-family: var(--font-family1);
  color: var(--font-color1);
  font-size: 1.5rem;
  text-align: center;
  margin-top:1rem;
  padding: 1.5rem;
  word-wrap: break-word;
}
section, article{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo {
  font-family: var(--font-family1);
  color: var(--font-color2);
  font-size: 1.25rem;
  text-align: center;
  padding: 1rem;
  word-wrap: break-word;
  width:40vw;
  box-shadow: 0px 1px 5px rgb(136, 255, 249);
}

.subtitulo {
  font-family: var(--font-family1);
  color: var(--font-color2);
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  word-wrap: break-word;
}

.texto{
  font-family: var(--font-family2);
  color: var(--font-color3);
  font-size:1rem;
  text-align: justify;
}

form {
  font-family: var(--font-family1);
  color: var(--font-color3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputNum {
  width: 600px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  margin:1rem;
}

.form-control{
  border-radius: 5px;
  height: min-content;
  padding:0.5rem;
  text-align: center;
}

.form-control::placeholder{
  font-size: 0.75rem;
  text-align: center;
}
button{
font-family: var(--font-family2);
font-size:1rem;
margin:1rem;
border-radius: 8px;
}


