@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Press+Start+2P&display=swap");
:root {
  --font-family1: "Press Start 2P", cursive;
  --font-family2: "Open Sans", sans-serif;
  --bg-color1: rgb(255, 232, 244);
  --bg-color2: rgb(220, 211, 255);
  --font-color1: rgb(255, 102, 179);
  --font-color2: rgb(111, 138, 255);
  --font-color3: rgb(162, 0, 255);
  --box-shadow1: 0px 1px 5px rgb(255, 136, 235);
  --box-shadow2: 0px 2px 5px rgb(136, 148, 255);
}

body {
  font-family: var(--font-family2);
  font-size: 1rem;
}

h1 {
  color: var(--font-color1);
  font-family: var(--font-family1);
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
  word-wrap: break-word;
  margin-top: 1rem;
  padding: 1.5rem;
}
section,
article {
  margin:3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo {
  color: var(--font-color2);
  font-family: var(--font-family1);
  font-size: 1.25rem;
  text-align: center;
  word-wrap: break-word;
  width: 35vw;
  border-color: var(--font-color1);
  border-style:dotted;
  padding: 1rem;
}

.subtitulo {
  color: var(--font-color2);
  font-family: var(--font-family1);
  font-size: 1rem;
  text-align: center;
  word-wrap: break-word;
  padding: 1rem;
}

.texto {
  color: var(--font-color2);
  font-family: var(--font-family2);
  font-size: 1rem;
  text-align: justify;
}

.textoCentrado {
  color: var(--font-color2);
  font-family: var(--font-family2);
  font-size: 1rem;
  text-align: center;
}

form {
  color: var(--font-color2);
  font-family: var(--font-family1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccionJuego {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  margin: 1rem;
}

.form-control {
  text-align: center;
  border-radius: 5px;
  height: min-content;
  padding: 0.5rem;
}

.form-control::placeholder {
  font-size: 0.75rem;
  text-align: center;
}
button {
  font-family: var(--font-family1);
  font-size: 1rem;
  margin: 1rem;
  border-radius: 8px;
  background-color: var(--bg-color2);
  border-style: none;
  box-shadow: var(--box-shadow2);
  width: 150px;
  height: 50px;
}

p#suma, #tragamonedas {
  background-color: var(--bg-color1);
  text-align: center;
  width: 600px;
  height: 3rem;
  padding: 1rem;
  box-shadow: var(--box-shadow1);
  
}

